@font-face {
	font-family: 'Vermin Vibes Diet';
	src: url('fonts/Vermin-Vibes-Diet.eot');
	src: local('Vermin Vibes Diet Regular'), local('Vermin-Vibes-Diet'),
		url('fonts/Vermin-Vibes-Diet.eot?#iefix') format('embedded-opentype'),
		url('fonts/Vermin-Vibes-Diet.woff') format('woff'),
		url('fonts/Vermin-Vibes-Diet.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  
  
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  
  .bg-gold { 
      background-color: #aa9a66; /* Gold */
      color: #ffffff;
  }
  .bg-navy { 
      background-color: #090f27; /* Dark Blue */
      color: #ffffff;
  }
  .bg-white { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-grey { 
      background-color: #2f2f2f; /* Black-Grey */
      color: #fff;
  }
  .container-fluid {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #ffffff !important;
  }

  .navbar-brand {
	font-family:'Vermin Vibes Diet';
	font-size:25px;
	letter-spacing:2px;
	text-transform: lowercase;
  }
  .caps {
	  text-transform: uppercase;
  }
  
  #top {
	  margin-top: 80px;
	  background-image: url(img/bg.jpg);
	  background-size: cover;
  }
  
  #portrait {
	  margin: 20px 0px;
  }
  
  #footer {
	  padding: 25px;
  }
  
  #footerCopy {
	  margin: 0;
  }  
  
  .nav > .active > a  {			
       background-color: inherit !important;  /* Cancel out scrollspy navlink backgrounds */
     }
